{% extends 'base.html' %}

{% block conteudo %}

<h1>Operações Geometricas</h1>
<!-- Passo 2: Verifica se possui msgs enviadas pelo app -->
<!-- Passo 3:  Definir with_categories=true caso queira ter acesso as categorias -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-error px-3">
    <!-- Passo 4:  Percorrer a lisa de msg -->
    {% for category, message in messages %}
    <!-- Passo 5:  Criar um card filho -->

    <div class="alert {{ category }} alert-dismissible fade show px-5" role="alert">
        <strong>{{ message }}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="calculos">

    <div class="card_operacao">
        <h2>Area do Triangulo</h2>
        <form class="form-somar" action="{{ url_for('Triangulo') }}" method="post">
            <label>
                <input placeholder="Digite a Base do Triangulo" name="form-n1" class="form-control">
            </label>

            <p class="operador"> (base × altura) / 2</p>

            <label>
                <input placeholder="Digite a Altura do Triangulo" name="form-n2" class="form-control">
            </label>

            <p class="resultado">
                {% if Triangulo_area is defined %}
                {{ n1 }} * {{ n2 }} / 2 = {{ Triangulo_area }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">Calcular</button>
        </form>
        <div class="accordion" id="accordion3">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        Como calcular?
                    </button>
                </h2>
                <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordion3">
                    <div class="accordion-body">
                    </div>
                    <h4>Area do triangulo</h4>
                    <p>Para calcular a área é preciso de 2 ou mais numeros</p>
                </div>
            </div>
        </div>

    </div>

    <div class="card_operacao">
        <h2>Area do Circulo</h2>
        <form class="form-somar" action="{{ url_for('Circulo') }}" method="post">
            <label>
                <input placeholder="Digite um número" name="form-n1" class="form-control">
            </label>

            <p class="operador"> π × raio²</p>

            <label>
                <input placeholder="Digite um número" name="form-n2" class="form-control">
            </label>

            <p class="resultado">
                {% if Circulo_area is defined %}
                {{ n1 * n1 }} * 3.14 = {{ Circulo_area }}
                {% else %}
                {% endif %}
            </p>
            <button type="submit" class="btn btn-info">Calcular</button>

        </form>
        <div class="accordion" id="accordion88">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse88" aria-expanded="false" aria-controls="collapse88">
                        Como calcular?
                    </button>
                </h2>
                <div id="collapse88" class="accordion-collapse collapse" data-bs-parent="#accordion88">
                    <div class="accordion-body">
                    </div>
                    <h4>Área do C</h4>
                    <p>Para calcular a área é preciso de 2 ou mais numeros</p>
                </div>
            </div>
        </div>

    </div>

    <div class="card_operacao">
        <h2>Area do Quadrado</h2>
        <form class="form-somar" action="{{ url_for('Quadrado') }}" method="post">
            <label>
                <input placeholder="Digite o lado do Quadrado" name="form-n1" class="form-control">
            </label>

            <p class="operador">Área = Lado × Lado</p>

            <label>
                <input placeholder="Digite lado do Quadrado" name="form-n2" class="form-control">
            </label>

            <p class="resultado">
                {% if Quadrado_area is defined %}
                {{ n1 }} * {{ n2 }} = {{ Quadrado_area }}
                {% else %}
                {% endif %}
            </p>
            <button type="submit" class="btn btn-info">Calcular</button>
        </form>
        <div class="accordion" id="accordion99">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse99" aria-expanded="false" aria-controls="collapse99">
                        Como calcular?
                    </button>
                </h2>
                <div id="collapse99" class="accordion-collapse collapse" data-bs-parent="#accordion99">
                    <div class="accordion-body">
                    </div>
                    <h4>Área do Q</h4>
                    <p>Para calcular a área é preciso de 2 ou mais numeros</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card_operacao">
        <h2>Area do Hexagono</h2>
        <form class="form-somar" action="{{ url_for('Hexagono') }}" method="post">
            <label>
                <input placeholder="Digite a base" name="form-n1" class="form-control">
            </label>

            <p class="operador">Área = (base × altura) / 2 * 6</p>

            <label>
                <input placeholder="Digite a altura" name="form-n2" class="form-control">
            </label>

            <p class="resultado">
                {% if Hexagono_area is defined %}
                {{ n1 }} * {{ n2 }} / 2 * 6 = {{ Hexagono_area }}
                {% else %}
                {% endif %}
            </p>
            <button type="submit" class="btn btn-info">Calcular</button>

        </form>
        <div class="accordion" id="accordion8">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        Como calcular?
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordion8">
                    <div class="accordion-body">
                    </div>
                    <h4>Área do H</h4>
                    <p>Para calcular a área é preciso de 2 ou mais numeros</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="calculos">

    <div class="card_operacao">
        <h2>Perimetro do Triangulo</h2>
        <form class="form-somar" action="{{ url_for('perimetro_triangulo') }}" method="post">
            <label>
                <input placeholder="Digite o lado do Triangulo" name="form-n1" class="form-control">
            </label>

            <p class="operador">Lado x 3</p>


            <p class="resultado">
                {% if triangulo_perimetro is defined %}
                {{ n1 }} * 3 = {{ triangulo_perimetro }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">Calcular</button>
        </form>
        <div class="accordion" id="accordion7">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        Como calcular?
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordion7">
                    <div class="accordion-body">
                    </div>
                    <h4>Perimetro do T</h4>
                    <p>Para calcular o perimetro é preciso somar os lados</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card_operacao">
        <h2>Perimetro do Circulo</h2>
        <form class="form-somar" action="{{ url_for('perimetro_circulo') }}" method="post">
            <label>
                <input placeholder="Digite a Base do Triangulo" name="form-n1" class="form-control">
            </label>

            <p class="operador">C = 2πr</p>

            <label>
                <input placeholder="Digite a Altura do Triangulo" name="form-n2" class="form-control">
            </label>

            <p class="resultado">
                {% if circulo_perimetro is defined %}
                {{ n1 }} * 2 * 3.14 = {{ circulo_perimetro }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">Calcular</button>
        </form>
        <div class="accordion" id="accordion6">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        Como calcular?
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordion6">
                    <div class="accordion-body">
                    </div>
                    <h4>Perimetro do C</h4>
                    <p>Para calcular o perimetro do circulo é preciso</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card_operacao">
        <h2>Perimetro do Quadrado</h2>
        <form class="form-somar" action="{{ url_for('perimetro_quadrado') }}" method="post">
            <label>
                <input placeholder="Digite o lado do quadrado" name="form-n1" class="form-control">
            </label>

            <p class="operador">Lado x 4</p>


            <p class="resultado">
                {% if quadrado_perimetro is defined %}
                {{ n1 }} * 4 = {{ quadrado_perimetro }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">Calcular</button>
        </form>
        <div class="accordion" id="accordion5">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        Como calcular?
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordion5">
                    <div class="accordion-body">
                    </div>
                    <h4>Perimetro do Q</h4>
                    <p>Para calcular o perimetro é preciso somar os lados</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card_operacao">
        <h2>Perimetro do Hexagono</h2>
        <form class="form-somar" action="{{ url_for('perimetro_hexagonop') }}" method="post">
            <label>
                <input placeholder="Digite o lado do hexagono" name="form-n1" class="form-control">
            </label>

            <p class="operador">Lado x 6</p>


            <p class="resultado">
                {% if hexagono_perimetro is defined %}
                {{ n1 }} * 6 = {{ hexagono_perimetro }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">Calcular</button>
        </form>
        <div class="accordion" id="accordion4">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        Como calcular?
                    </button>
                </h2>
                <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordion4">
                    <div class="accordion-body">
                    </div>
                    <h4>Perimetro H</h4>
                    <p>Para calcular o perimetro é preciso somar os lados</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
